* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7bdaf3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.add {
  background-color: #9ec862;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}
.note {
  height: 20rem;
  width: 20rem;
  background-color: #ffffff;
  margin: 1.5rem;
}

.note .tools {
  background-color: #9ec862;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.note .tools button {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
}

.note .main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.note textarea {
  height: 100%;
  width: 100%;
  border: none;
  font-family: inherit;
  outline: none;
  font-size: 1.2rem;
  background-color: #eee;
}

.note .hidden {
  display: none;
}
